<div class="attributes-table-inner">
  <table *ngIf="features && features.length > 0">
    <thead>
      <tr><th>ID</th><th>Name</th><th>Type</th><th>Actions</th></tr>
    </thead>
    <tbody>
      <tr *ngFor="let f of features">
        <td>{{ f.attributes?.objectId ?? f.attributes?.OBJECTID ?? f.attributes?.id }}</td>
        <td>{{ f.attributes?.name ?? f.attributes?.Name ?? '-' }}</td>
        <td>{{ f.attributes?.type ?? '-' }}</td>
        <td>
          <button (click)="editFeature(f)">Edit</button>
          <button (click)="deleteFeature(f)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
